
body{
    /* background-color: darkgray; */
}
h1{
    color: #0D0925;
   text-align: center;
}
span{
    color:#E76F51;;
}

.container{
    display: flex;
    margin-left: 130px;
    gap: 15px;  
}

.img1{
    background-color: #555;
}

.book{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

}





